---
- name: Bootstrap a Fedora development host
  hosts: all
  become: yes
  vars_files:
    - pkglists/fedora.yml
  tasks:
    - name: Install workstation packages
      ansible.builtin.dnf:
        name: "{{ workstation_pkgs }}"
        state: present

    - name: Create development user
      ansible.builtin.user:
        name: "{{ dev_user.login }}"
        comment: "{{ dev_user.name }}"
        groups: "{{ dev_user.groups }}"
        append: yes
        shell: "{{ dev_user.shell }}"
        create_home: yes
        generate_ssh_key: yes
        ssh_key_type: "{{ dev_user.ssh_key_type }}"
        ssh_key_comment: "{{ dev_user.ssh_key_comment }}"
        state: present
